<%- include('./partials/head.ejs') %>
    <body>
        <main>
            <h1>Rijksmuseum API Server Side</h1>
            <div class="overviewPage">
                <% postData.forEach(function(thumbail) { %>
                    <article class="artobject">
                        <a href='/artobjects/<%= thumbail.number %>'>
                            <%- thumbail.title %>
                            <picture>
                                <img src="<%- thumbail.imageUrl%>" width="<%= thumbail.imageWidth %>px"  max-heigth="1000px"  alt="artpiece of artist" loading="lazy">
                            </picture>	
                            <h2><%= thumbail.titel %></h2>
                            <h3><%= thumbail.artist %></h3>			
                        </a>
                    </article>		
                <% }) %>
            </div>
            <button onClick="window.location.reload();">Volgende pagina</button>
        </main>   
<%- include('./partials/footer.ejs') %> 