<%- include('./partials/head.ejs') %>
<body>
    <main>
        <a href="/">back</a>
        <h1><%- postData.longtitle %></h1>
        <div class="detailPage">
                <picture">
                    <img src="<%- postData.smallerImg%>" width="500px"  max-heigth="1000px"  alt="artpiece of artist" height="auto" loading="lazy">
                </picture>
                <h2><%= postData.artist %></h2>
                <h3><%= postData.places %></h3>
                <h4><%= postData.objnr %></h4>
        </div>
    </main>   
<%- include('./partials/footer.ejs') %>