<%- include('./partials/head.ejs') %>
    <body>
        <main>
            <h1>Rijksmuseum API Server Side</h1>
            <div class="overviewPage">
                <% artList.forEach(artobject => { %>
                <article class="artobject">
                    <a href='/artobjects/<%= artobject.objectNumber %>'>
                        <img src="<%= artobject.webImage.url %>" alt="art object image">
                        <h2><%= artobject.title %></h2>
                        <h3><%= artobject.principalOrFirstMaker %></h3>
                    </a>
                </article> 
                <% }); %>
            </div>
        </main>   
</body>
</html>